* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}
.heading-bar {
  box-sizing: border-box;
  display: flex;
  height: 100px;
  width: 100%;
  margin-right: 20%;
  padding-left: 2.5%;
  margin-top: 2%;
}

.heading-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2.5%;
}

.main-logo {
  width: 17.5%;
  object-fit: cover;
}

.sign-in-logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.sign-in-cont {
  padding-top: 25px;
}

.prep-facts {
  width: 30%;
  display: flex;
  padding-top: 2%;
  gap: 10%;
  padding-bottom: 2%;
}

.quick-nav {
  padding-bottom: 2%;
}

main {
  padding-left: 10%;
  padding-top: 5%;
}

h1,
h2 {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

div > a {
  color: black;
  font-style: normal;
  text-decoration: none;
  padding-right: 1%;
}

.dodgy-image {
  display: block;
  width: 13.5%;
}

.social-actions {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

ol {
  margin-left: 0;
  padding-left: 2%;
}

.image-bar > img {
  display: inline-block;
  width: 13.5%;
  object-fit: cover;
  height: 12%;
}

footer {
  margin-left: 10%;
  margin-top: 5%;
}
